{% extends "AgenceFrontBundle::layout_standar.html.twig" %}

 {% block  body  %}
    <h1>GaleriePhoto creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('galeriephoto') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
